img{
    width: 200px;         
    height: 200px;          
    object-fit: cover;      
    object-position: center; 
    display: block; 
    position: relative;
    border-radius: 20%;
    left: 45%;
}


p,li,a{
    font-size: large;
    color: white;
}
.jersey-15-regular { 
    font-weight: 400;
    font-style: normal;
}
h1,h2{
    font-size: 30px;
    color: #E17564;
}
h1{
    text-align: center;
    font-size: 50px;
}
html{
    background-color: #09122C;
    font-family:"Jersey 15", serif
}
a{
    color: #872341;
}
hr{
    color: #2978A0;
    border-style:dashed;
}