html{
    font-family: "Silkscreen", serif;
    background-color:#9694FF ;
    
}

h1{
    text-align: center;
    font-size: 80px;
    color: #FF2929;
}
li, h, p{
    font-size: 30px;
    color: #450920;
    text-shadow: #094074  1px 0 5px;
}
p{
    text-align: center;
}
.silkscreen-regular {
    font-family: "Silkscreen", serif;
    font-weight: 400;
    font-style: normal;
  }
  hr{
    
    color: #00A896;
  }