h1{
    color: #C62300;
    text-align: center;
    font-size: 200px;
    margin: 0px;
}

.jersey-15-regular { 
    font-weight: 400;
    font-style: normal;
}
html{
    font-family: "Jersey 15", serif ;
    background-color: #2A004E;
}
li{ 
    align-items: center;
    color: #F14A00;
    width: 300px;
    height: 150px;
    font-size: 30px;
    border-radius: 10%;
    background-color:#500073 ;
    text-align: center;
    margin: 5px;
    position: relative;
    align-items: center;
}
ul {
    list-style-type: none; 
    padding: 0;
    margin: 0;
    display: flex;
    justify-content: center; 
    align-items: center;     
    height: 200px;
  }
a{
    color: #F14A00;
}
